<div class="title-group">
  <div class="title">
    <p2>Dashboard</p2>
    <p3>| コース選択</p3>
  </div>
</div>

<div class="courses-grid">
  <% @delivery_routes.each do |delivery_route| %>
    <%= link_to dashboard_path(delivery_route.id), class: "course-card-link" do %>
      <div class="course-card">
        <div class="course-icon">
          <span class="material-symbols-outlined">route</span>
        </div>
        <div class="course-info">
          <span class="course-name"><%= delivery_route.name %></span>
        </div>
        <div class="course-arrow">
          <span class="material-symbols-outlined">chevron_right</span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>