html, body {
  font-family: "Inter", "Yu Gothic", "YuGothic",
                "Hiragino Kaku Gothic ProN", Meiryo,
                system-ui, -apple-system, sans-serif;
  font-weight: 300;
  background-color: hsla(0, 0%, 7%, 0.7);;
  color:#555555;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    135deg, /* 左上→右下 */
    rgba(179, 229, 179, 0.79) 0%,    /* 左上：グリーン #B3E5B3 */
    rgba(255, 255, 255, 0.89) 37%,   /* 中央：白（割合を反転して狭め） */
    rgba(255, 179, 179, 0.8) 100%    /* 右下：ピンク #FFB3B3 */
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Zen Kaku Gothic New', 'Rajdhani', sans-serif;
}
