<h1>Analytics - 週次推移</h1>

<nav class="analytics-tabs">
  <%= link_to "単日", analytics_path, class: "tab" %>
  <%= link_to "週次", weekly_analytics_path, class: "tab active" %>
  <%= link_to "月次", monthly_analytics_path, class: "tab" %>
</nav>
